.image-container{
    position: relative;
    transform: transform 0.2s;
  }
  
.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

.image-container:hover .overlay{
    opacity: 1;
  }  
  

.overlay{
    position: relative;
    background: rgba(0, 0,0, 0.9);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom:0;
    font-size:20px;
    padding:20px;
    text-align: center;
}

.posspace{
    position: relative;
    left: -5000px;
    bottom: 0px;
}